# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
*.log

# SQLite databases
#*.db
*.sqlite3

Presentation files
*.txt
*.pptx
